#root {
  font-family: Sansation, Helvetica, Arial, system-ui, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #f28e1c;
  --bulma-primary: #f28e1c;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

html {
  background-image: url("https://res.cloudinary.com/dxys7xjve/image/upload/v1755312769/bleer_dssn52.png");
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
