.menu-icon {
  mask-image: url("../assets/line-md--menu.svg");
    min-width: 100%;
  min-height: 100%;
  stroke: currentColor;
  fill: white;

  background-size: contain; /* Ensures the SVG fits within the element */
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
    /* fill: currentColor; */
    /* display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    
    line-height: 1;
    position: relative;
    top: -.05em;
    vertical-align: middle; */
}

.menu-icon:hover, .menu-icon-active {
  mask-image: url("../assets/line-md--menu-unfold-right.svg");
  background-color: #F28E1C;
}